.carousel{
    overflow: hidden;
    width: 80%;
    left: 11%;

}

.textos-nosotros{
    background-color: rgba(0, 0, 0, 0.892);
    color: white;
    padding: 40px;
    margin: 20px;
    text-align: center;
}